.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Footer */
.attribution { 
  font-size: 11px; 
  display: flex; 
  justify-content: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.attribution p:first-child { 
  margin-right: 10px;
}